.hero {
  @include adaptive-value('padding-top', 250, 150, 1);
  @include adaptive-value('padding-bottom', 170, 50, 1);

  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: cover;
}

.hero__inner {
  max-width: 590px;
  width: 100%;
  @include _992 {
    &:before {
      content: "";
      box-shadow: 500px -100px 100px 580px rgba($black, 0.4);
    }
  }
  @include _768 {
    &:before {
      content: "";
      box-shadow: 500px -100px 100px 540px rgba($black, 0.4);
    }
  }
  @include _576 {
    &:before {
      content: "";
      box-shadow: 500px -100px 100px 500px rgba($black, 0.4);
    }
  }
}

.hero__title {
  @include _992 {
    color: $white;
    margin-bottom: 20px;
  }
}

.hero__title span {
  color: $green;
  border-bottom: 4px solid $green;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.9;
  color: #444444;
  @include adaptive-value('margin-bottom', 85, 40, 1);

  @include _992 {
    color: $white;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 15px;

  @include _576 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.hero__button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  max-width: 250px;
  width: 100%;
  padding: 10px 25px;
  font-size: 23px;
  line-height: 23px;
}

.hero__button-descr {
  font-size: 14px;
  color: $white;
  text-shadow: 1px 0px 2px black;
}
