<section class='access' style="background-image: url(./img/access-bg.jpg)">
  <div class='container'>
    <div class='access__inner'>
      <h2 class="access__title title">
        Get full accesses. Today
      </h2>

      <ul class="access__list">
        <li class="access__item">
          <article class="card">
            <h3 class="card__title">
              1 Month Access
            </h3>

            <div class="card__price">
              $49 <span>/month</span>
            </div>

            <ul class="card__list">
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
            </ul>

            <button class="card__btn button" type="button">
              Buy Now
            </button>

            <div class="card__info">
              <p>
                On checkout you will be charged the total amount of $534 for the 6 month package.
              </p>
            </div>
          </article>
        </li>
        <li class="access__item">
          <article class="card">
            <h3 class="card__title">
              1 Month Access
            </h3>

            <div class="card__price">
              $49 <span>/month</span>
            </div>

            <ul class="card__list">
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
            </ul>

            <button class="card__btn button" type="button">
              Buy Now
            </button>

            <div class="card__info">
              <p>
                On checkout you will be charged the total amount of $534 for the 6 month package.
              </p>
            </div>
          </article>
        </li>
        <li class="access__item">
          <article class="card">
            <h3 class="card__title">
              1 Month Access
            </h3>

            <div class="card__price">
              $49 <span>/month</span>
            </div>

            <ul class="card__list">
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
              <li class="card__item">Full Access to Resources</li>
            </ul>

            <button class="card__btn button" type="button">
              Buy Now
            </button>

            <div class="card__info">
              <p>
                On checkout you will be charged the total amount of $534 for the 6 month package.
              </p>
            </div>
          </article>
        </li>
      </ul>

      <div class="access__bottom">
        <div class="access__info">
          <h4 class="access__heading">
            Instant Access
          </h4>
          <div class="access__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
              cursus, mi quis viverra ornare.
            </p>
          </div>
        </div>
        <a class="access__link" href="#">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>
