<section class='blog'>
  <div class='container'>
    <div class='blog__inner'>
      <h2 class="blog__title title">
        Recently in our Photography <span>Blog.</span>
      </h2>

      <div class="blog__content">
        <div class="blog__content-left">
          <article class="post">
            <div class="post__img">
              <img src='img/blog1.jpg' alt='Post image' width='535' height='760' aria-hidden="true">
            </div>
            <div class="post__info">
              <h3 class="post__title">
                <a class="post__link" href="#">
                  Photographers Who Changed the World forever
                </a>
              </h3>
              <div class="post__descr">
                <p>
                  Debitis ea dicta ea eum laboriosam quis dolore repudiandae. Est hic quod et similique ullam et. Ipsum ipsam temporibus
                  quo ea natus enim quae officia nulla.
                </p>
              </div>
              <div class="post__author">
                <div class='post__author-img'>
                  <img src='img/help3.jpg' alt='Author post Robert Brown' width='40' height='40'>
                </div>
                <div class="post__author-info">
                  <h4 class="post__author-name">
                    Robert Brown
                  </h4>
                  <time class="post__date" datetime="2019-07-13">
                    on September 13, 2019
                  </time>
                </div>
              </div>
            </div>
          </article>
        </div>

        <ul class="blog__content-right">
          <li class="blog__item">
            <article class="post post--sm">
              <div class="post__img">
                <img src='img/blog2.jpg' alt='Post image' width='376' height='240' aria-hidden="true">
              </div>
              <div class="post__info">
                <time class="post__date" datetime="2019-07-13">
                  September 13, 2019
                </time>
                <h3 class="post__title">
                  <a class="post__link" href="#">
                    Photographers Who Changed the World forever
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="blog__item">
            <article class="post post--sm">
              <div class="post__img">
                <img src='img/blog3.jpg' alt='Post image' width='375' height='240' aria-hidden="true">
              </div>
              <div class="post__info">
                <time class="post__date" datetime="2019-07-13">
                  September 13, 2019
                </time>
                <h3 class="post__title">
                  <a class="post__link" href="#">
                    Photographers Who Changed the World forever
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="blog__item">
            <article class="post post--sm">
              <div class="post__img">
                <img src='img/blog2.jpg' alt='Post image' width='375' height='240' aria-hidden="true">
              </div>
              <div class="post__info">
                <time class="post__date" datetime="2019-07-13">
                  September 13, 2019
                </time>
                <h3 class="post__title">
                  <a class="post__link" href="#">
                    Photographers Who Changed the World forever
                  </a>
                </h3>
              </div>
            </article>
          </li>
          <li class="blog__item blog__item--link">
            <h3 class="blog__heading">
              Visit Full Blog
            </h3>
            <p class="blog__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <a class="blog__link" href="#" target="_blank">
              Visit Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
