<footer class="footer" style="background-image: url(./img/footer-bg.jpg);">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__left">
          <div class='footer__icon'>
            <img src='./img/circle.svg' alt='icon site resource' width='40' height='40' aria-hidden="true">
          </div>
          <div class="footer__text">
            <p>
              Welcome at Template Resource. This template is packed with useful features to built out your own resource website.
            </p>
          </div>
        </div>
        <ul class="footer__right">
          <li class="footer__col">
            <h3 class="footer__title">
              About us
            </h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__link" href="#"> About us</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Our team</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Frequent Questions</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Contact us</a></li>
            </ul>
          </li>
          <li class="footer__col">
            <h3 class="footer__title">
              Information
            </h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__link" href="#"> Blog</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Pricing</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Resources</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Frequent Questions</a></li>
            </ul>
          </li>
          <li class="footer__col">
            <h3 class="footer__title">
              Contact
            </h3>
            <ul class="footer__list">
              <li class="footer__item"><a class="footer__link" href="#"> Email us</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Support Page</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Facebook</a></li>
              <li class="footer__item"><a class="footer__link" href="#"> Twitter</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <small class="footer__copyright">
        Copyright © <span>Studio Corvus</span> Powered by <span>Webflow</span> <span>Template Licensing Info</span>
      </small>
    </div>
  </div>
</footer>
