<header class="header">

  <h1 class="visually-hidden">
    Resource - The most complete Photography resource.
  </h1>

  <!-- ===== NAVIGATION ===== -->
  <nav class='nav nav-container'>
    <div class="nav__left">
      <!-- Link home -->
      <a class='nav__home' href='#'>
        <svg class='nav__home-icon'>
          <use xlink:href='./img/sprite.svg#home'></use>
        </svg>
      </a>
      <!-- Navigation list -->
      <ul class='nav__list'>
        <li class='nav__item'><a class='nav__link' href='#'> Resource Center </a></li>
        <li class='nav__item'><a class='nav__link' href='#'> Blog </a></li>
        <li class='nav__item'><a class='nav__link' href='#'> Featured </a></li>
        <li class='nav__item'><a class='nav__link' href='#'> About </a></li>
        <li class='nav__item'><a class='nav__link' href='#'> Contact </a></li>
      </ul>
    </div>
    <!-- Logo site Resource-->
    <a class='nav__logo' href='#'>
      <svg class='nav__logo-icon'>
        <use xlink:href='./img/sprite.svg#logo'></use>
      </svg>
    </a>
    <!-- ===== BURGER ===== -->
    <button class='burger' type='button' aria-label='Мобильное меню' aria-expanded="false">
      <span class="burger__line"></span>
    </button>
    <!-- ===== BURGER ===== -->
    <!-- input searche website -->
    <form class='header__form form' action='#'>
      <svg class='form__icon'>
        <use xlink:href='./img/sprite.svg#search'></use>
      </svg>
      <label class="form__label">
        <input class='form__input' type='search' name='search' placeholder='Search website' required>
      </label>
      <button class='form__button' type='submit'> Search </button>
    </form>
  </nav>
  <!-- ===== NAVIGATION ===== -->
</header>
