<section class='help'>
    <div class='help__inner'>
      <div class="help__left">
        <h2 class="help__title">
          How can we help you?
        </h2>
        <ul class='help__list'>
          <li class='help__item'><a class="help__link" href="#">Visit our Blog</a></li>
          <li class='help__item'><a class="help__link" href="#">Photographers Resources Library</a></li>
          <li class='help__item'><a class="help__link" href="#">Featured Stories</a></li>
          <li class='help__item'><a class="help__link" href="#">Get Full Access Today!</a></li>
        </ul>
      </div>
      <div class="help__meet">
        <h3 class="help__heading">
          Meet our Writers
        </h3>
        <p class="help__descr">
          We've got a professional team of professional photographers providing you with resources.
        </p>
        <div class="help__link-block">
          <ul class='help__meet-list'>
            <li class='help__meet-item'>
              <img src="./img/help1.jpg" alt="woman writer" width="80" height="80" aria-hidden="true">
            </li>
            <li class='help__meet-item'>
              <img src="./img/help2.jpg" alt="man writer" width="80" height="80" aria-hidden="true">
            </li>
            <li class='help__meet-item'>
              <img src="./img/help3.jpg" alt="man writer" width="80" height="80" aria-hidden="true">
            </li>
          </ul>
          <a class="help__meet-link button" href="#">
            meet our team
          </a>
        </div>
      </div>
    </div>
</section>
