<section class='hero' style="background-image: url(./img/hero-bg.jpg);">
  <div class='container'>
    <div class='hero__inner'>
      <h2 class="hero__title title">
        The <span>most complete</span> Photography resource.
      </h2>
      <p class="hero__subtitle">
        Welcome at Template Resource. This template is packed with useful features to built out your own resource website.
      </p>
      <div class="hero__buttons">
        <div class="hero__button-block">
          <a class="hero__button button button--orange" href="#">
            Visit our Blog
          </a>
          <span class="hero__button-descr">
            Stories, News & Info
          </span>
        </div>
        <div class="hero__button-block">
          <a class="hero__button button button--white" href="#">
            Resource Center
          </a>
          <span class="hero__button-descr">
            Tips, Tricks & Tutorials
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
