<section class='level'>
  <div class='container'>
    <div class='level__inner' style="background-image: url(img/level-bg.jpg);">
      <div class="level__info">
        <h2 class="level__title">
          Inspired to get your photography to the next level?
        </h2>
        <div class="level__descr">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
          </p>
        </div>
        <div class="level__button-block">
          <a class="level__link button" href="#">
            <svg class='level__link-icon'>
              <use xlink:href='./img/sprite.svg#arrow'></use>
            </svg>
            Resource Center
          </a>
          <span class="level__button-descr">
            Packed with useful tips & tutorials
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
