<div class="say">
  <div class="say__inner">

    <section class="say__left">
      <h2 class="say__title title">
        What <span>others</span> say.
      </h2>

      <div class="say__content">
        <div class='say__img'>
          <img src='./img/say-img.jpg' alt='Girl with a camera in her hands at sunset' width='460' height='570' aria-hidden="true">
        </div>
        <blockquote class="say__blockquote blockquote">
          <h3 class="blockquote__heading">
            "I learned so much, even as a professional".
          </h3>
          <p>"Ut vehicula lacus a lacus tempor, nec viverra justo condimentum. Integer eu urna dapibus, scelerisque nisl non, semper
          ipsum. Etiam dolor arcu, tincidunt a arcu eget."</p>
          <cite class="blockquote__author">Juan Huang</cite>
        </blockquote>
        <a class="say__link button" href="#">
          more stories
        </a>
      </div>
    </section>

    <section class="say__right">
      <h2 class="say__title title">
        What kind of photographer <span>are you</span> ?
      </h2>

      <ul class="say__list">
        <li class="say__item">
          <a class="say__link-block" href="#">
            <h3 class="say__heading">
              Amateur
            </h3>
            <div class="say__descr">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.
              </p>
            </div>
            <span class="say__more">
              More Information
            </span>
          </a>
        </li>
        <li class="say__item">
          <a class="say__link-block" href="#">
            <h3 class="say__heading">
              Beginner
            </h3>
            <div class="say__descr">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.
              </p>
            </div>
            <span class="say__more">
              More Information
            </span>
          </a>
        </li>
        <li class="say__item">
          <a class="say__link-block" href="#">
            <h3 class="say__heading">
              Professional
            </h3>
            <div class="say__descr">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.
              </p>
            </div>
            <span class="say__more">
              More Information
            </span>
          </a>
        </li>
      </ul>

      <a class="say__info-link" href="#">
        Visit Resource Center
      </a>
    </section>

  </div>
</div>
