<section class='search'>
  <div class='container'>
    <div class='search__inner'>
      <div class="search__top">
        <h2 class="search__title title">
          The most complete Photography resource.
        </h2>
        <span class="search__subtitle">
          Search our Resources:
        </span>
      </div>

      <form class='search__form form' action='#'>
        <svg class='form__icon'>
          <use xlink:href='./img/sprite.svg#search'></use>
        </svg>
        <label class="form__label">
          <input class='form__input' id='search' type='search' name='search' placeholder='Search website' required>
        </label>
        <button class='form__button' type='submit'> Search </button>
      </form>

      <ul class="search__list">
        <li class="search__item">
          <article class="search-card">
            <h3 class="search-card__title">
              For Beginners
            </h3>

            <ul class="search-card__list">
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
            </ul>

            <a class="search-card__bottom-link" href="#">
              View all
            </a>
          </article>
        </li>
        <li class="search__item">
          <article class="search-card">
            <h3 class="search-card__title">
              For Amateurs
            </h3>

            <ul class="search-card__list">
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
            </ul>

            <a class="search-card__bottom-link" href="#">
              View all
            </a>
          </article>
        </li>
        <li class="search__item">
          <article class="search-card">
            <h3 class="search-card__title">
              For Professionals
            </h3>

            <ul class="search-card__list">
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
              <li class="search-card__item">
                <a class="search-card__link" href="#">
                  10 Beginner tips to get started
                </a>
              </li>
            </ul>

            <a class="search-card__bottom-link" href="#">
              View all
            </a>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
