// Colors
$white: #fff;
$black: #000;
$red: #FF4A32;
$yellow: #ffb548;
$orange: #F55F39;
$green: #2BCA8B;
$blue: #252061;

// Fonts
$roboto: 'Roboto', Arial, sans-serif;
$poppins: 'Poppins', Arial, sans-serif;

// Container page
$container: 1100px;

